nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    font-size: 2vw;
}

nav a{
    float: left;
    color: blanchedalmond;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
}

nav a:first-child{
    color: burlywood;
    font-weight: bolder;
    font-size: 3vw;
}

nav a:hover{
    border-bottom: 2px solid gray;
    color: lightgray;
    transition: 0.5s;
}

.container{
    width: 90%;
    margin: auto;
}

.btn{
    cursor: pointer;
}

.btn:hover{
    color: lightblue;
    text-decoration: underline;
}



.home-img{
    margin-left: 20px;
    user-select: none;
}


.address button{
    background: none;
    box-shadow: 2px 5px 20px gray;
    padding: 1%;
    color: lightgray;
    user-select: none;
    outline: none;
    cursor: pointer;
}

.address button:hover{
    border: 2px solid gray;
}

.transaction i{
    color: lightsteelblue;
}

.transaction h3{
    cursor: pointer;
}

.transaction h3:hover{
    color: lightskyblue;
    text-decoration: underline;
}

.transaction button{
    background: none;
    box-shadow: 2px 5px 20px gray;
    padding: 1%;
    margin: 3%;
    color: lightgray;
    user-select: none;
    outline: none;
    cursor: pointer;
}

.transaction button:hover{
    border: 2px solid gray;
}


input{
    width: 80%;
    margin: 2%;
    background: none;
    outline: none;
    border: none;
    margin-left: 3%;
    padding: 2%;
    font-size: medium;
    color: lightskyblue;
    box-shadow: 2px 5px 20px gray;
}

.new-transaction textarea{
    background: none;
    margin: 2%;
    border: none;
    outline: none;
    width: 80%;
    color: lightskyblue;
    height: 50px;
    font-size: larger;
    resize: none;
    padding: 2%;
    box-shadow: 2px 5px 20px gray;
}


.input{
    width: 70%;
}


.output{
    width: 70%;
}

.question{
    width: 70%;
}

.link{
    cursor: pointer;
}

.link:hover{
    color: lightblue;
}