nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    font-size: 2vw;
}

nav a{
    float: left;
    color: blanchedalmond;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
}

nav a:first-child{
    color: burlywood;
    font-weight: bolder;
    font-size: 3vw;
}

nav a:hover{
    border-bottom: 2px solid gray;
    color: lightgray;
    transition: 0.5s;
}

.container{
    width: 90%;
    margin: auto;
}


.home-img{
    margin-left: 20px;
    user-select: none;
}


.address button{
    background: none;
    box-shadow: 2px 5px 20px gray;
    padding: 1%;
    color: lightgray;
    user-select: none;
    outline: none;
    cursor: pointer;
}

.address button:hover{
    border: 2px solid gray;
}